$black: #000;
$white: #FFF;


// 2015: http://www.colourlovers.com/palette/3236019/Sochi_Olympics_2014
// 2016: http://www.colourlovers.com/palette/1329120/If_We_Should_Meet
$blue: #027B7F;
$green: #069344;
$yellow: #EFAE2E;
$purple: #BF1E62;
$red: #A82D20;
