
@import 'colors';
@import 'clearfix';
@import 'viewports';

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,600italic);

html {
    background: url(../img/bgimg.jpg) no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family: 'Titillium Web', sans-serif;
}


.main-wrap {
    z-index: 2;

    width: 100%;
    max-width: 960px;

    display: block;
    position: relative;

    margin: 50px auto;
}

@import 'landing';
@import 'schedule';
