
@import 'colors';
@import 'clearfix';

.bg { // Wrap for the picture background
    z-index: 1;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-image: url(../img/bgimg.jpg);
}


.main-wrap {
    z-index: 2;

    width: 100%;
    max-width: 960px;

    display: block;
    position: relative;

    margin: 50px auto;
}

@import 'landing';
