
<div class="landing" ng-controller="landingController" ng-init="init()">
    <div class="logo-wrap">
        <div class="logo"></div>

        <div class="info">
            <div class="logo-text"></div>
            <p>Bla, bla, blablablablbal bla. Korkeammalle.</p>
        </div>
    </div>

    <div class="countdown"></div>


    <div class="instagame-wrap">
        <a class="ig-img" href="{{image.link}}" target="_blank" ng-repeat="image in images">
            <img src="{{image.thumbnailUrl}}" />
        </a>
    </div>
</div>



<script>
    // Ugly hack for initalizing the countdown timer
    // This should have been done with a Directive, but oh wellll
    function setCounter(startTimestampString) {
        $(function() {

            var now = moment();
            var startTime = moment(startTimestampString);
            var duration = startTime.diff(now, 'seconds', true);

            var timer = $('div.countdown').FlipClock({
                clockFace: 'DailyCounter',
                countdown: true,
                autoStart: false
            });
            timer.setTime(duration);
            timer.start();
        });
    }
</script>
